body {
  background-color: black;
}

#pongCanvas {
  border: 1px solid white;
}

#score {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#scoreLeft {
  margin-right: 20px;
}
